
<% @articles.each do |article|%>
  <div class = "booyah col-xs-8 col-xs-offset-2">
    <h1><%= article.header %></h1><br /><br />
    <h2><%= article.article %></h2><br />
    <p><%= article.place %></p><br />
  </div>

<% end %>